.pie {
  cursor: pointer;
  color: #0088cc;
}

.pie:hover {
  text-decoration: underline;
}

h1{
  background-image:url(../img/pizzabackground.jpg);
  font-size: 60px;
}

img{
  margin-bottom: 20px;
}
